{% extends "base.html" %}
{% block content %}
    <h2>Name:</h2>
    {{ user.username }}
    <h2>Joined:</h2>
    {{ user.date_joined }}
    <h2>Last logged in:</h2>
    {{ user.last_login }}
    <h2>Activated:</h2>
    {{ user.is_active }}
    <h2>Staff:</h2>
    {{ user.is_staff }}
    <h3>Kuulutused:</h3>
    <ul>
    {% for ad in user.classifiedad_set.all %}
        <li>
            <a href="{% url 'classifiedad' pk=ad.pk subcategory=ad.subcategory category=ad.subcategory.category %}">
                {{ ad.name }}
            </a> - Loodud: {{ ad.created }} - Aegub: {{ ad.will_expire }}
            <a href="{% url 'updatead' pk=ad.pk subcategory=ad.subcategory category=ad.subcategory.category %}"><button>Uuenda</button></a>
            <a href="{% url 'deletead' pk=ad.pk subcategory=ad.subcategory category=ad.subcategory.category %}"><button>Kustuta</button></a>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}