{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-3"></div>
        <form method="post" class="p-3 m-5 col-6 card">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Registreeru">
        </form>
    </div>
    </div>
{% endblock content %}
