{% extends "base.html" %}
{% load static i18n%}

{% block css %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
{% endblock css %}

{% block content %}
    <div class="container-fluid" id="ad">
        <main class="col-12 py-md-3 pl-md-5">
            <div class="row pb-5">

                <h1 class="mx-auto">
                    <span class="badge badge-primary bg-2">{{ classifiedad.transaction_type }}</span>
                    <small>{{ classifiedad.name }}</small>
                </h1>
            </div>
            <div class="row pb-5">
                <div class="col-1 move-buttons">
                    {% if classifiedad.get_previous_by_created %}
                    <a href="{% url 'classifiedad' pk=classifiedad.get_previous_by_created.pk subcategory=classifiedad.get_previous_by_created.subcategory category=classifiedad.get_previous_by_created.subcategory.category %}">
                        <img src="{% static 'icons/back.svg' %}" alt="next" class="max-w-100 ad-move-buttons">
                    </a>
                    {% endif %}
                </div>
                <div class="col-2 ml-md-auto">
                    {% for image in classifiedad.images.all|slice:":3" %}
                        <img src="{{ image.image }}" alt="" style="width: 100px" class="rounded float-right m-3 img-thumbnail fade-in">
                    {% endfor %}
                </div>
                <div class="col-4 ml-md-auto">
                    <a href="#exampleModalCenter" role="button" data-toggle="modal">
                        <img src="{{ classifiedad.images.first.image }}" alt="" style="width: 500px" class="rounded rounded mx-auto d-block img-fluid fade-in" id="img-hero">
                    </a>
                </div>

                <div class="col-3 fade-in">
                    <div class="row">
                        <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <a class="nav-link active ad-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-location" role="tab" aria-controls="v-pills-messages" aria-selected="false">Asukoht</a>
                          <a class="nav-link ad-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Kontakt</a>
                          <a class="nav-link ad-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Metainfo</a>
                        </div>
                        </div>
                        <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                              <div class="col-12 ml-3">
                                  <p>
                                  <span class="badge badge-primary">Telefon:</span><br>
                                      <small>563452243</small>
                                  </p>
                                  <p>
                                  <span class="badge badge-primary">Email:</span><br>
                                      <small>kass@pass.ee</small>
                                  </p>

                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                              <div class="col-12 ml-3">
                                  <p>
                                  <span class="badge badge-primary">Loodud:</span><br>
                                      <small>{{ classifiedad.created|timesince }} ago</small>
                                  </p>
                                  {% if  classifiedad.modified != classifiedad.created %}
                                      <p>
                                      <span class="badge badge-primary">Muudetud:</span><br>
                                          <small>{{ classifiedad.modified|timesince }} ago</small>
                                      </p>
                                  {% endif %}
                                  <p>
                                  <span class="badge badge-primary">Vaatamisi:</span><br>
                                      <small>{{ classifiedad.views }}</small>
                                  </p>
                              </div>
                          </div>
                          <div class="tab-pane fade show active" id="v-pills-location" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                              <div class="col-12 ml-3">
                                <span class="badge badge-primary">Linn:</span><br>
                                  <small>Tartu</small><br>
                                <span class="badge badge-primary">Kaart:</span><br>
                                <div id="mapid" class="mt-1"></div>
                              </div>
                          </div>
                        </div>
                        </div>
                        </div>
                </div>
                <div class="col-1 move-buttons">
                    {% if classifiedad.get_next_by_created %}
                    <a href="{% url 'classifiedad' pk=classifiedad.get_next_by_created.pk subcategory=classifiedad.get_next_by_created.subcategory category=classifiedad.get_next_by_created.subcategory.category %}">
                        <img src="{% static 'icons/next.svg' %}" alt="next" class="max-w-100 ad-move-buttons">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row col-3 mx-auto mb-3">
                <div class="mx-auto ad-price">Hind: {{ classifiedad.price }} eur</div>
            </div>
            <div class="row col-10 mx-auto">
                <p>{{ classifiedad.description }}</p>
            </div>
            <div class="row ">
                <h4 class="mx-auto">Sarnased kuulutused</h4>
            </div>
            <div class="row">
                {% for similar_object in  classifiedad.tags.similar_objects %}
                    <div class="col-2 ml-md-auto">
                        <img src="{{ similar_object.image }}" alt="" style="width: 100px" class="rounded float-right m-3 img-thumbnail">
                    </div>
                {% endfor %}
            </div>

        </main>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <img src="{{ classifiedad.images.first.image }}" alt="" style="width: 900px" class="rounded rounded mx-auto d-block img-fluid" id="img-modal">

        </div>
      </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
       integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
       crossorigin="">
    </script>
    <script type="text/javascript">
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".img-thumbnail").click(
                function() {
                    $("#img-hero").attr("src", $(this).attr("src"));
                    $("#img-modal").attr("src", $(this).attr("src"));
                    $(".img-thumbnail").removeClass("active-thumb");
                    $(this).addClass("active-thumb");
                },);
        });
    </script>

{% endblock javascript %}

