{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 py-md-3 pl-md-5 cat-cloud">
                <p>
                    {% for category in category_list %}
                        <a class="badge badge-info" href="#{{ category|slugify }}"><i class="fab {{ category.icon }}"></i> {{ category }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="row flex-xl-nowrap">
            <main class="col-12 py-md-3 pl-md-5">
                {% for category in category_list %}
                    <div class="p-3">
                    <div class="cat-name" id="{{ category|slugify }}"><i class="fab {{ category.icon }} "></i> {{ category }}</div>
                    <div class="row cat-items">
                    {% for subcategory in category.subcategory_set.all %}
                        <a class="title-link" href="{% url 'subcategory' category=category.slug slug=subcategory.slug %}">
                        <div class="card bg-dark text-white m-3 home-item-card">
                          <img src="{{ subcategory.image }}" class="card-img" alt="..." width="200px">
                          <div class="card-img-overlay">
                            <div class="card-title mt-4 title">{{ subcategory.name }}</div>
                          </div>
                          <small class="title-count">{{ subcategory.classifiedad_set.count }} kuulutust</small>
                        </div>
                        </a>
                    {% endfor %}
                    </div>
                    </div>
                {% endfor %}
            </main>
        </div>
  </div>
{% endblock content %}
{% block javascript %}

{% endblock javascript %}
