{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <main class="col-12 py-md-3 pl-md-5">
            <div class="breadcrumb2"><a href="{% url 'home' %}">Esileht</a> <i class="fas fa-long-arrow-alt-right"></i>
                <a href="{% url 'subcategory' category=subcategory.category.slug slug=subcategory.slug %}">{{ subcategory.category }}</a>
                <i class="fas fa-long-arrow-alt-right"></i> {{ subcategory }}</div>
            <div class="row mb-3 mt-3">
                <div class="btn-group ml-3">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Filter
                    </button>
                    <div class="dropdown-menu">
                        <form method="GET">
                            <input type="submit" name="ordeing" value="Odavamad enne" class="dropdown-item">
                        </form>
                        <form method="GET">
                            <input type="submit" name="ordeing" value="Kallimad enne" class="dropdown-item">
                        </form>
                    </div>
                </div>
                <div class="btn-group ml-3">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Kategooriad
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <div class="input-group col-2 col-sm-5 col-md-3 col-lg-3 col-xl-3">
                    <div class="input-group-prepend ml-1">
                        <span class="input-group-text">Hind</span>
                    </div>
                    <input type="number" aria-label="Low" class="form-control">
                    <input type="number" aria-label="High" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>

            </div>
            <div class="row">
                {% for ad in subcategory.classifiedad_set.all %}
                    <a href="{% url 'classifiedad' pk=ad.pk subcategory=ad.subcategory.slug category=ad.subcategory.category.slug %}">
                        <div class="card item-card bg-dark text-white m-3" id="ad">
                            <img src="{{ ad.images.first.image }}" class="card-img" alt="...">
                            <div class="card-img-overlay ">
                                <div class="card-title mt-3 title font-weight-normal">{{ ad.name }}</div>
                                <p class="ad-description">{{ ad.description |truncatewords:20 }}</p>
                            </div>
                            <div class="mx-auto">
                                <span class="badge badge-pill badge-info m-1">{{ ad.transaction_type }}</span>
                                <span class="badge badge-pill badge-success m-1">€ {{ ad.price }}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock content %}