/* RGB */
$color1: rgba(254, 254, 255, 1);
$color2: rgba(211, 63, 73, 1);
$color3: rgba(40, 48, 68, 1);
$color4: rgba(120, 161, 187, 1);
$color5: rgba(38, 39, 48, 1);


// Alpha
$alpha-main: 1;
$alpha-faded: .6;
$alpha-barely: .05;

// Fade
$fade-speed: .7s;

// Colors


html {
  scroll-behavior: smooth;

}

body {
  font-family: 'Nunito', sans-serif;
  background-color: $color1;
  color: $color2;

}

a {
  text-decoration: none;
}

// Generic

.nav-link.active {
  color: $color2;
}

.form-control {
  border-color: $color4;
}

.input-group-text {
  background-color: $color1;
  border-color: $color4;
  color: $color4;
}

.badge-primary {
  background-color: $color4;
}

p > .badge-primary:hover {
  opacity: $alpha-faded;
  background-color: $color4;
}

.badge-info {
  background-color: $color2;
}

p > .badge-info:hover {
  opacity: $alpha-faded;
  background-color: $color2;
}

.badge-success {
  background-color: $color5;
}

.btn-outline-primary {
  background-color: $color1;
  border-color: $color3;
  color: $color3;
}

.btn-outline-primary:hover {
  background-color: $color3;
  border-color: $color3;
  color: $color1;
}

.btn-danger {
  background-color: $color1;
  border-color: $color2;
  color: $color2;
}

.btn-danger:hover {
  background-color: $color2;
  border-color: $color2;
  color: $color1;
}

.btn-primary {
  background-color: $color3;
  border-color: $color3;
  color: $color1;
}

.btn-primary:hover {
  background-color: $color1;
  border-color: $color3;
  color: $color3;
}

// Navbar

#nav-title {
  font-weight: 700;
  color: $color3;
}

.card-img-overlay {
  text-align: center;
}

.title {
  background: $color1;
  border-radius: 50px;
  color: $color5;
  font-weight: 500;
}

.title-link:hover .title {
}

.title-link {
  text-decoration: none !important;
}

.title-count {
  border: 1px solid $color1;
  color: $color1;
  border-radius: 50px;
  padding: 4px;
  font-weight: bold;
  font-size: 10px;
  width: 100px;
  margin-top: 3px;
  text-align: center;
}

.title-link:hover .title-count {
  border: 1px solid $color2;
  color: $color2;
  -webkit-animation: fadein $fade-speed; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $fade-speed; /* Firefox < 16 */
  -ms-animation: fadein $fade-speed; /* Internet Explorer */
  -o-animation: fadein $fade-speed; /* Opera < 12.1 */
  animation: fadein $fade-speed;
}

.move-buttons {
  display: block;
  margin: auto;
}

.max-w-100 {
  max-width: 100px;
}

#mapid {
  height: 180px;
  border-radius: 0.25rem;
}

.home-item-card {
  opacity: $alpha-faded;
  border: none;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}


.title-link:hover .home-item-card {
  opacity: $alpha-main;
  align-items: center;
}

.item-card {
  opacity: .6;
  border: none;
  width: 200px;
  height: 200px;
  margin: 0 auto;

  -webkit-transition: width, height .4s; /* Safari */
  -webkit-backface-visibility: hidden;
  transition: width, height .4s;
  transition-timing-function: ease-in-out;
}


.item-card:hover {
  opacity: 1;
  width: 400px;
  height: 400px;
}

.card-img {
  max-width: 100%;
  height: auto;
  -webkit-animation: fadein $fade-speed; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $fade-speed; /* Firefox < 16 */
  -ms-animation: fadein $fade-speed; /* Internet Explorer */
  -o-animation: fadein $fade-speed; /* Opera < 12.1 */
  animation: fadein $fade-speed;
}

.card-img:hover {
  opacity: 100%;
}

.cat-cloud {
  text-align: center;
}

.cat-name {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, $alpha-barely);
  font-weight: 100;
  color: $color2;
}

.breadcrumb2 {
  color: $color4;
}

.breadcrumb2 > a {
  color: $color4;
}

.card-img-overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}

.card-title {

}

.bottom-border {
  border-bottom: 1px solid rgba($color4, $alpha-barely);
}

.fade-in {
  -webkit-animation: fadein $fade-speed; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $fade-speed; /* Firefox < 16 */
  -ms-animation: fadein $fade-speed; /* Internet Explorer */
  -o-animation: fadein $fade-speed; /* Opera < 12.1 */
  animation: fadein $fade-speed;
}


.icon {
}

.jump-up {
  position: fixed;
  bottom: 47px;
  right: 40px;
  border-radius: 50px;
  background-color: $color2;
  color: $color1;
  border-color: rgba($color2, $alpha-faded);

}

.jump-up:hover {
  background-color: $color1;
  color: $color2;
  border-color: rgba($color2, $alpha-faded);
}

// Ads

#ad {
  color: $color3;
}

.bg-2 {
  background-color: $color2;
}

.ad-description {
  font-size: 12px;
  opacity: 0;
  background: rgba(0, 0, 0, $alpha-faded);
  border-radius: 10px;
  padding: 10px;
}

#ad:hover .ad-description {
  font-size: 12px;
  opacity: 100;
}

.ad-price {
  color: $color2;
  font-weight: bolder;
}

.ad-link {
  color: $color3;
}

.ad-move-buttons {
  opacity: $alpha-faded;
}

.ad-move-buttons:hover {
  opacity: $alpha-main;
}

//Login page

.login-container {
  display: table;
  position: absolute;
  top: 30%;
  left: 0;
  height: 100%;
  width: 100%;
}


.login {
  display: table-cell;
  vertical-align: middle;
}

.login-card {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: $color1;
  color: $color3;
  border-color: $color3;
}

.login-card > p > a {
  color: $color3;
}

#id_username {
  border: 0;
  border-bottom: 1px solid $color3;
  margin-bottom: .5rem;
}

#id_password {
  border: 0;
  border-bottom: 1px solid $color3;
  margin-bottom: .5rem;
}

.login > p > a {
  color: $color5;
}

// Animatsioon
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}