/* RGB */
html {
  scroll-behavior: smooth; }

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fefeff;
  color: #d33f49; }

a {
  text-decoration: none; }

.nav-link.active {
  color: #d33f49; }

.form-control {
  border-color: #78a1bb; }

.input-group-text {
  background-color: #fefeff;
  border-color: #78a1bb;
  color: #78a1bb; }

.badge-primary {
  background-color: #78a1bb; }

p > .badge-primary:hover {
  opacity: 0.6;
  background-color: #78a1bb; }

.badge-info {
  background-color: #d33f49; }

p > .badge-info:hover {
  opacity: 0.6;
  background-color: #d33f49; }

.badge-success {
  background-color: #262730; }

.btn-outline-primary {
  background-color: #fefeff;
  border-color: #283044;
  color: #283044; }

.btn-outline-primary:hover {
  background-color: #283044;
  border-color: #283044;
  color: #fefeff; }

.btn-danger {
  background-color: #fefeff;
  border-color: #d33f49;
  color: #d33f49; }

.btn-danger:hover {
  background-color: #d33f49;
  border-color: #d33f49;
  color: #fefeff; }

.btn-primary {
  background-color: #283044;
  border-color: #283044;
  color: #fefeff; }

.btn-primary:hover {
  background-color: #fefeff;
  border-color: #283044;
  color: #283044; }

#nav-title {
  font-weight: 700;
  color: #283044; }

.card-img-overlay {
  text-align: center; }

.title {
  background: #fefeff;
  border-radius: 50px;
  color: #262730;
  font-weight: 500; }

.title-link {
  text-decoration: none !important; }

.title-count {
  border: 1px solid #fefeff;
  color: #fefeff;
  border-radius: 50px;
  padding: 4px;
  font-weight: bold;
  font-size: 10px;
  width: 100px;
  margin-top: 3px;
  text-align: center; }

.title-link:hover .title-count {
  border: 1px solid #d33f49;
  color: #d33f49;
  -webkit-animation: fadein 0.7s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.7s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.7s;
  /* Internet Explorer */
  -o-animation: fadein 0.7s;
  /* Opera < 12.1 */
  animation: fadein 0.7s; }

.move-buttons {
  display: block;
  margin: auto; }

.max-w-100 {
  max-width: 100px; }

#mapid {
  height: 180px;
  border-radius: 0.25rem; }

.home-item-card {
  opacity: 0.6;
  border: none;
  width: 200px;
  height: 200px;
  margin: 0 auto; }

.title-link:hover .home-item-card {
  opacity: 1;
  align-items: center; }

.item-card {
  opacity: .6;
  border: none;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-transition: width, height .4s;
  /* Safari */
  -webkit-backface-visibility: hidden;
  transition: width, height .4s;
  transition-timing-function: ease-in-out; }

.item-card:hover {
  opacity: 1;
  width: 400px;
  height: 400px; }

.card-img {
  max-width: 100%;
  height: auto;
  -webkit-animation: fadein 0.7s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.7s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.7s;
  /* Internet Explorer */
  -o-animation: fadein 0.7s;
  /* Opera < 12.1 */
  animation: fadein 0.7s; }

.card-img:hover {
  opacity: 100%; }

.cat-cloud {
  text-align: center; }

.cat-name {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-weight: 100;
  color: #d33f49; }

.breadcrumb2 {
  color: #78a1bb; }

.breadcrumb2 > a {
  color: #78a1bb; }

.card-img-overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%; }

.bottom-border {
  border-bottom: 1px solid rgba(120, 161, 187, 0.05); }

.fade-in {
  -webkit-animation: fadein 0.7s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.7s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.7s;
  /* Internet Explorer */
  -o-animation: fadein 0.7s;
  /* Opera < 12.1 */
  animation: fadein 0.7s; }

.jump-up {
  position: fixed;
  bottom: 47px;
  right: 40px;
  border-radius: 50px;
  background-color: #d33f49;
  color: #fefeff;
  border-color: rgba(211, 63, 73, 0.6); }

.jump-up:hover {
  background-color: #fefeff;
  color: #d33f49;
  border-color: rgba(211, 63, 73, 0.6); }

#ad {
  color: #283044; }

.bg-2 {
  background-color: #d33f49; }

.ad-description {
  font-size: 12px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px; }

#ad:hover .ad-description {
  font-size: 12px;
  opacity: 100; }

.ad-price {
  color: #d33f49;
  font-weight: bolder; }

.ad-link {
  color: #283044; }

.ad-move-buttons {
  opacity: 0.6; }

.ad-move-buttons:hover {
  opacity: 1; }

.login-container {
  display: table;
  position: absolute;
  top: 30%;
  left: 0;
  height: 100%;
  width: 100%; }

.login {
  display: table-cell;
  vertical-align: middle; }

.login-card {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: #fefeff;
  color: #283044;
  border-color: #283044; }

.login-card > p > a {
  color: #283044; }

#id_username {
  border: 0;
  border-bottom: 1px solid #283044;
  margin-bottom: .5rem; }

#id_password {
  border: 0;
  border-bottom: 1px solid #283044;
  margin-bottom: .5rem; }

.login > p > a {
  color: #262730; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=project.css.map */
