{% load static i18n%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    {% block css %}
    {% endblock css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

</head>
<body>

<main>
    <nav class="navbar navbar-expand-sm navbar-light justify-content-between bottom-border" id="top">
        <a class="navbar-brand icon" href="{% url 'home' %}">
            <img src="{% static 'icons/wall.svg' %}">
            <span id="nav-title">Sein</span>
        </a>
        <div class="">
            <a href="">
                <button type="button" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Lisa</button>
            </a>
        </div>

        <div class="input-group col-6">
          <input type="text" class="form-control" placeholder="Näiteks: Korter" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-times"></i></button>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button">Otsi</button>
          </div>

        </div>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'login' %}">Logi Sisse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'django_registration_register' %}">Registreeru</a>
            </li>
        </ul>
    </nav>


    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
    <a href="#top"><button type="button" class="btn btn-warning jump-up"><i class="fas fa-caret-up"></i></button></a>

</main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>